@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    var action = ViewContext.RouteData.Values["Action"]?.ToString();
    var controller = ViewContext.RouteData.Values["Controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCProject.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/favicon.png" sizes="100x200" asp-append-version="true"  />
</head>
<body>

   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm main-navbar">
            <div class="container-fluid">
                <a class="text-reset navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TikTacToe</a>
                <button id="navbar-toggler" class="btn toggle-btn" type="button">
                    <span class="navbar-toggler-icon">
                        <svg fill="#fff" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 24h16v-4h-16v4zM8 18.016h16v-4h-16v4zM8 12h16v-4h-16v4z"></path>
                        </svg>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="mobile-menu">
                    <ul class="navbar-nav flex-grow-1 gap-2">
                        <li class="nav-item @(controller == "Home" && action == "Index" ? "active": "")">
                            <a class="text-reset nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item @(controller == "Game" && action == "Index" ? "active": "")">
                            <a class="text-reset nav-link" asp-area="" asp-controller="Game" asp-action="Index">Play Now</a>
                        </li>
                        <li class="nav-item @(controller == "Game" && action == "Ranking" ? "active": "")">
                            <a class="text-reset nav-link" asp-area="" asp-controller="Game" asp-action="Ranking">Ranking</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center">
        &copy; 2023 - MVCProject
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function() {
            var mobileMenu = $('#mobile-menu');
            var navbarToggler = $('#navbar-toggler');

            navbarToggler.on('click', function() {
                if (mobileMenu.hasClass('show')) {
                    mobileMenu.removeClass('show');
                    navbarToggler.attr('aria-expanded', 'false');
                } else {
                    mobileMenu.addClass('show');
                    navbarToggler.attr('aria-expanded', 'true');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
